
<div class="row">

    <div ng-if="!vm.contentList.length" class="alert alert-info">No Content</div>

    <div class="col-md-3" 
        ng-repeat='contentObj in vm.contentList' 
        ng-click='vm.open(contentObj)'
        ng-if="vm.contentList">
        <div class="card" >

            <span class="oi" ng-class="vm.getClass(contentObj)" style="top: 16px;"></span>
            <h6 class="card-title" style="padding-left: 25px">{{contentObj.name}}</h6>

        </div>
    </div>

</div>


<div ng-show="vm.dragAndDrop" class="form-control-file text-center col-md-7" 
    data-title="Drag and Drop File Here" file-dropzone file="vm.file" 
    style="margin-top: 25px; margin-left: auto; margin-right: auto;"
    >
  
</div>