<div class="row"></div>

<div class="form-inline row">
    <label for="instancelist"></label>
    <select id="instancelist" class="form-control col-8" ng-model='vm.selectedInstance'>
        <option ng-value='0'>Select instance</option>
        <option ng-repeat='instanceObj in vm.instanceList' ng-value='instanceObj.id'>{{instanceObj.name}}</option>
    </select>
    <button class="btn btn-primary" ng-click='vm.openInstanceFolders(vm.selectedInstance)'>Open Instance</button>
</div>
<br />
<div ng-if="vm.throbber" class="spinner-border" role="status" style="margin-top: 25px">
    <span class="sr-only">Loading...</span>
</div>
<div ng-if="!vm.throbber" style="margin-top: 20px;" ui-view></div>